// Set memory requirements for each stage to allow bpipe to determine which can run concurrently

// Default
//memory=1

commands {

    mosdepth {
        memory=2
    }

    bwamem {
        memory=26
    }

    merge {
        memory=4
    }

    bedtools {
        memory=2
    }

    locuscounts {
        memory=13
    }
  
}
